@import url('https://fonts.googleapis.com/css?family=Roboto:400,900i&subset=cyrillic');
body {
    margin: 0;
}
div.page {
    background-color: #ffffff;
}
section {
    height: auto;
    min-height: 250px;
}
section.top {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
section.bottom {
    display: flex;
    flex-direction: column;
}
div.logoimg,
div.text-wrapper,
div.googleplaybutton,
div.description,
p.title,
p.description{
    margin: auto;
}
div.logoimg img {
    height: 150px;
}
section div.logo p {
    font-family: "Roboto", Serif;
    font-style: italic;
    color: #ffffff;
    margin: 0;
    text-align: center;
    font-weight: 900;
}
p.firsline {
    font-size: 6.5em;
    font-weight: 400;
    height: 0.5em;

}
p.secondline {
    font-size: 17em;
    font-weight: 900;
    height: 1.13em;
}
p.title,
p.description {
    font-family: "Roboto", Serif, regular;
    font-style: normal;
    color: black;
    text-align: center;
    font-weight: 400;
}
p.title {
    font-size: 1.3em;
}
p.description {
    font-size: 1.5em;
}
div.googleplaybutton img {
    height: 140px;
}
div.googleplaybutton {
    margin-bottom: 0;
    margin-top: 60px;
}
div.logo {
    background-position: center;
}